.coursePageContainer {
    display: flex;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.unitsSideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 20px;
    border-right: 1px solid #ccc; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f9f9f9;
}

.unitsSideBar h3{
    margin-top: 10px;
}

.activeUnit {
  text-align: center;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  background-color: #007bff;
  color: white; 
  font-weight: bold;
  border-radius: 5px; 
  cursor: default;
}

.activeUnit:hover {
  background-color: #0056b3;
  cursor: default; 
}

.unitList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.unitOfList {
    text-align: center;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease; 
    border-radius: 10px;
}

.unitOfList:hover {
    background-color: #f0f0f0;
}

.unitViewer {
    width: 75%;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
}

.unitViewer h1{
    margin-top: 0;
}

.embeddedVideo {
    margin-bottom: 20px;
}

.coursesContainer {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courseCard p {
  font-size: 14px;
  color: #666;
}

.courseCard .viewCourseButton {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.courseCard .viewCourseButton:hover {
  background-color: #0056b3;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.authButtons {
  display: flex;
  gap: 10px;
}

.authButton {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}

.authButton:hover {
  background-color: #0056b3;
}

.generalAnalyticsButton {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 20px;
}

.generalAnalyticsButton:hover {
  background-color: #0056b3;
}

.header h1 {
  flex: 1;
}

.courses {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.course {
  border: 1px solid #ccc;
  padding: 1.5rem 1.5rem 10px 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  display: flex; 
  flex-direction: column; 
}

.course:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.course h2 {
  margin-top: 0;
}

.course p {
  margin-bottom: 10px;
}

.exitButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff4d4f; 
    color: white;
    border: none;
    border-radius: 50%; 
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;
}

.exitButton:hover {
    background-color: #d9363e; 
}

.exitButtonAnalytics {
  position: absolute;
  top: 30px;
  left: 50px;
  background-color: #ff4d4f; 
  color: white;
  border: none;
  border-radius: 50%; 
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease;
}

.exitButtonAnalytics:hover {
  background-color: #d9363e; 
}

.nextUnitButton {
  position: fixed;
  bottom: 20px;
  right: 45px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease;
}

.nextUnitButton:hover {
  background-color: #0056b3;
}

.finishCourseButton {
  position: fixed;
  bottom: 20px;
  right: 45px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #04d307; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease;
}

.finishCourseButton:hover {
  background-color: #03a706;
}

.authForm {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.authForm h2 {
  margin-bottom: 20px;
  text-align: center;
}

.authForm div {
  margin-bottom: 15px;
}

.authForm label {
  display: block;
  margin-bottom: 5px;
}

.authForm input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.authForm button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.authForm button:hover {
  background-color: #0056b3;
}

.authForm p {
  text-align: center;
}


@media (max-width: 1200px) {
  .courses {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .courses {
    grid-template-columns: 1fr;
  }
}

.structureScroll, .structureTime {
  display: flex;
  flex-direction: row;
}

.scrollPercentage{
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  border: black 2px solid;
  margin: 0 50px;
  border-radius: 10px;
}

.scrollPercentageVideo, .scrollPercentageNonVideo, .timeSpentVideo, .timeSpentNonVideo{
  width: 48%;
  padding: 12px;
}

.scrollPercentageVideo, .timeSpentVideo {
  border-right: black 2px dashed;
}

.timeSpent{
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  border: black 2px solid;
  margin: 40px 50px;
  border-radius: 10px;
}

.timeSpent h1, .scrollPercentage h1 {
  text-align: center;
  margin-top: 0;
}

.analyticsCourse h1{
  text-align: center;
}

.analyticsButton{
  margin-top: 20px;
  align-self: center;
  text-decoration: none;
  bottom: 0;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #0056b3;
  color: white;
  border-style: none;
  margin-top: auto;
}

a.analyticsButton{
  padding: 0;
}

.analyticsButton:hover{
  cursor: pointer;
  background-color: #007bff;
}

.generalScrollBehaviour {
  margin: 0 50px;
  padding: 20px;
  border: black 2px solid;
  border-radius: 10px;
}

.generalAnalytics h1{
  text-align: center;
}

.generalTimeBehaviour {
  margin: 40px 50px;
  padding: 20px;
  border: black 2px solid;
  border-radius: 10px;
}